name: Foundry CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Clean and install deps
        run: |
          rm -rf lib
          forge install foundry-rs/forge-std
          forge install OpenZeppelin/openzeppelin-contracts
          rm -rf lib/**/.git

      - name: Print Foundry config + layout
        run: |
          pwd
          ls -la
          cat foundry.toml
          ls -la lib || true
          ls -la lib/forge-std/src || true
          ls -la contracts/src || true
          ls -la test || true

      - name: Run tests
        run: forge test -vv

